<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<string>晟邦快递</string>
	</array>
	<key>D</key>
	<array>
		<string>德邦物流</string>
	</array>
	<key>E</key>
	<array>
		<string>EMS</string>
	</array>
	<key>F</key>
	<array>
		<string>凡客配送</string>
	</array>
	<key>G</key>
	<array>
		<string>国通</string>
	</array>
	<key>H</key>
	<array>
		<string>汇通</string>
	</array>
	<key>J</key>
	<array>
		<string>京东</string>
		<string>佳吉快运</string>
		<string>聚美优品</string>
	</array>
	<key>K</key>
	<array>
		<string>全晨快递</string>
		<string>全峰快递</string>
		<string>全一快递</string>
	</array>
	<key>L</key>
	<array>
		<string>申通</string>
		<string>顺丰</string>
	</array>
	<key>T</key>
	<array>
		<string>天天快递</string>
	</array>
	<key>U</key>
	<array>
		<string>UPS</string>
	</array>
	<key>W</key>
	<array>
		<string>唯品会</string>
	</array>
	<key>X</key>
	<array>
		<string>信丰物流</string>
	</array>
	<key>Y</key>
	<array>
		<string>亚马逊</string>
		<string>优速快递</string>
		<string>邮政包裹</string>
		<string>圆通</string>
		<string>韵达</string>
	</array>
	<key>Z</key>
	<array>
		<string>增益速递</string>
		<string>宅急送</string>
		<string>中铁快运</string>
		<string>中通</string>
	</array>
</dict>
</plist>
